<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Esporta Modal</title>
    <link rel="stylesheet" href="../../assets/css/common.css" />
    <link rel="stylesheet" href="library.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!--------------------------SIDEBAR LIBRARY MENU--------------------------->
    <aside class="library-menu-sidebar">
      <!--------------------------LIBRARY HEADER--------------------------->
      <div class="library-sidebar-header">
        <div class="library-header-section">
          <ul>
            <li><a href="#libreria">Libreria</a></li>
            <li><a href="#esplora">Esplora</a></li>
          </ul>
        </div>
        <div class="library-header-add-button">
          <svg
            class="library-add-btn"
            width="15px"
            height="15px"
            viewBox="0 -0.5 21 21"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            fill="#000000"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></g>
            <g id="SVGRepo_iconCarrier">
              <title>plus [#1512]</title>
              <desc>Created with Sketch.</desc>
              <defs></defs>
              <g
                id="Page-1"
                stroke="none"
                stroke-width="1"
                fill="none"
                fill-rule="evenodd"
              >
                <g
                  id="Dribbble-Light-Preview"
                  transform="translate(-379.000000, -240.000000)"
                  fill="#000000"
                >
                  <g id="icons" transform="translate(56.000000, 160.000000)">
                    <polygon
                      id="plus-[#1512]"
                      points="344 89 344 91 334.55 91 334.55 100 332.45 100 332.45 91 323 91 323 89 332.45 89 332.45 80 334.55 80 334.55 89"
                    ></polygon>
                  </g>
                </g>
              </g>
            </g>
          </svg>
        </div>
      </div>
      <!--------------------------LIBRARY BODY--------------------------->
      <div class="library-body-title">
        <h1>Tutte le palette</h1>
        <div class="search-palette-button">
          <svg
            width="18px"
            height="18px"
            viewBox="0 0 512 512"
            xmlns="http://www.w3.org/2000/svg"
            fill="#000000"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></g>
            <g id="SVGRepo_iconCarrier">
              <title>ionicons-v5-f</title>
              <path
                d="M221.09,64A157.09,157.09,0,1,0,378.18,221.09,157.1,157.1,0,0,0,221.09,64Z"
                style="
                  fill: none;
                  stroke: #000000;
                  stroke-miterlimit: 10;
                  stroke-width: 32px;
                "
              ></path>
              <line
                x1="338.29"
                y1="338.29"
                x2="448"
                y2="448"
                style="
                  fill: none;
                  stroke: #000000;
                  stroke-linecap: round;
                  stroke-miterlimit: 10;
                  stroke-width: 32px;
                "
              ></line>
            </g>
          </svg>
        </div>
      </div>
      <div class="library-sidebar-body">
        <!--------------------------LIBRARY FAVOURITE PALETTE--------------------------->
        <div class="favourite-color-palette-container">
          <div class="favourite-color-palette">
            <div
              class="favourite-color-palette-background"
              style="background-color: red"
            ></div>
            <div
              class="favourite-color-palette-background"
              style="background-color: blue"
            ></div>
            <div
              class="favourite-color-palette-background"
              style="background-color: green"
            ></div>
            <div
              class="favourite-color-palette-background"
              style="background-color: yellow"
            ></div>
            <div
              class="favourite-color-palette-background"
              style="background-color: orange"
            ></div>
          </div>
          <h1>Nome palette</h1>
        </div>
      </div>
    </aside>
  </body>
</html>
