.general-three-dot-container.active {
  display: flex;
}

.general-three-dot-container {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  position: absolute;
  top: 46px;
  display: none;
  z-index: 1;
}
.dots-menu-container-position {
  display: flex;
  gap: 3px;
}
.dots-menu-container {
  position: relative;
}
.container-of-the-container {
  display: flex;
  width: 18rem;
  flex-direction: column;
  list-style: none;
  background-color: white;
  border-radius: 20px;
}

.list-of-entries {
  display: flex;
  gap: 10px;
  width: 90%;
  height: 11%;
  margin: 12px 0px 8px 12px;
  padding: 8px;
  color: black;
}

.list-of-entries a {
  text-decoration: none;
  color: black;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.list-of-entries:hover {
  width: 90%;
  cursor: pointer;
  background-color: rgb(241, 240, 240);
  border-radius: 5px;
  display: flex;
  align-items: center;
}
