<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="tre-puntini.css" />
     <link rel="stylesheet" href="../../assets/css/common.css" />
    <link rel="stylesheet" href="../../assets/css/generatore.css" />
    <link rel="stylesheet" href="../../assets/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <title>Tre puntini</title>
  </head>
  <body>
    <div class="general-three-dot-container">
      <div class="container-of-the-container">
        
          <li class="list-of-entries">
            <i class="fa-regular fa-clone"></i>
            <a href="#">Crea un collage</a>
          </li>
          <li class="list-of-entries">
            <i class="fa-solid fa-dharmachakra"></i>
            <a href="#">Metodo di generazione</a>
          </li>
          <li class="list-of-entries">
            <i class="fa-solid fa-gear"></i>
            <a href="#">Impostazioni</a>
          </li>
          <li class="list-of-entries">
            <i class="fa-regular fa-clock"></i>
            <a href="#">Cronologia palette</a>
          </li>
          <li class="list-of-entries">
            <i class="fa-regular fa-circle-question"></i>
            <a href="#">Guarda il tutorial</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="overlayModalTrePuntini"></div>
    <script src="tre-puntini.js"></script>
  </body>
</html>
