<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Visualizza</title>
    <link rel="stylesheet" href="visualizza.css" />
    <link
      rel="icon"
      type="image/x-icon"
      href="assets/img/coolors-tab-icon.png"
    />
    <link rel="stylesheet" href="../../assets/css/common.css" />
    <link rel="stylesheet" href="../../assets/css/generatore.css" />
    <link rel="stylesheet" href="../../assets/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="visualizza-modal-contain">
      <div class="global-container">
        <div class="title-header">
          <i class="fa-solid fa-xmark"></i>
          <h1>Anteprima rapida</h1>
          <div class="three-dots-menu">
            <div class="menu-dots-view"></div>
            <div class="menu-dots-view"></div>
            <div class="menu-dots-view"></div>
          </div>
        </div>
        <div class="main-options">
          <p>HEX</p>

          <p>HSB</p>

          <p>HSL</p>

          <p>RGB</p>

          <p>CMYK</p>

          <p>LAB</p>
        </div>
        <div class="color-selection">
          <div class="cage-container">
            <div class="color-cage first"></div>
            <div class="color-cage"></div>
            <div class="color-cage"></div>
            <div class="color-cage"></div>
            <div class="color-cage last"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="overlayModalVisualizza"></div>
    <script src="visualizza.js"></script>
  </body>
</html>
