<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link rel="stylesheet" href="./palette_colori.css" />
  </head>
  <body>
    <div class="palette-container">
      <div class="colorContainer">
        <div class="optionContainer">
          <div class="icon x"><i class="fa-solid fa-x"></i></div>
          <div class="icon circle-half">
            <i class="fa-solid fa-circle-half-stroke"></i>
          </div>
          <div class="icon bars"><i class="fa-solid fa-bars"></i></div>
          <div class="icon heart"><i class="fa-regular fa-heart"></i></div>
          <div class="icon left-right">
            <i class="fa-solid fa-arrows-left-right"></i>
          </div>
          <div class="icon clone"><i class="fa-solid fa-clone"></i></div>
          <div class="icon divOpen">
            <i class="fa-solid fa-lock-open lock"></i>
          </div>
        </div>
        <div class="description">
          <h1>Codice colore</h1>
          <p>Nome colore</p>
        </div>
      </div>
      <!--  -->
      <div class="colorContainer">
        <div class="optionContainer">
          <div class="icon x"><i class="fa-solid fa-x"></i></div>
          <div class="icon circle-half">
            <i class="fa-solid fa-circle-half-stroke"></i>
          </div>
          <div class="icon bars"><i class="fa-solid fa-table-list"></i></div>
          <div class="icon heart"><i class="fa-regular fa-heart"></i></div>
          <div class="icon left-right">
            <i class="fa-solid fa-arrows-left-right"></i>
          </div>
          <div class="icon clone"><i class="fa-solid fa-clone"></i></div>
          <div class="icon divOpen">
            <i class="fa-solid fa-lock-open lock"></i>
          </div>
        </div>
        <div class="description">
          <h1>Codice colore</h1>
          <p>Nome colore</p>
        </div>
      </div>
      <div class="colorContainer">
        <div class="optionContainer">
          <div class="icon x"><i class="fa-solid fa-x"></i></div>
          <div class="icon circle-half">
            <i class="fa-solid fa-circle-half-stroke"></i>
          </div>
          <div class="icon bars"><i class="fa-solid fa-bars"></i></div>
          <div class="icon heart"><i class="fa-regular fa-heart"></i></div>
          <div class="icon left-right">
            <i class="fa-solid fa-arrows-left-right"></i>
          </div>
          <div class="icon clone"><i class="fa-solid fa-clone"></i></div>
          <div class="icon divOpen">
            <i class="fa-solid fa-lock-open lock"></i>
          </div>
        </div>
        <div class="description">
          <h1>Codice colore</h1>
          <p>Nome colore</p>
        </div>
      </div>
      <div class="colorContainer">
        <div class="optionContainer">
          <div class="icon x"><i class="fa-solid fa-x"></i></div>
          <div class="icon circle-half">
            <i class="fa-solid fa-circle-half-stroke"></i>
          </div>
          <div class="icon bars"><i class="fa-solid fa-bars"></i></div>
          <div class="icon heart"><i class="fa-regular fa-heart"></i></div>
          <div class="icon left-right">
            <i class="fa-solid fa-arrows-left-right"></i>
          </div>
          <div class="icon clone"><i class="fa-solid fa-clone"></i></div>
          <div class="icon divOpen">
            <i class="fa-solid fa-lock-open lock"></i>
          </div>
        </div>
        <div class="description">
          <h1>Codice colore</h1>
          <p>Nome colore</p>
        </div>
      </div>
      <div class="colorContainer">
        <div class="optionContainer">
          <div class="icon x"><i class="fa-solid fa-x"></i></div>
          <div class="icon circle-half">
            <i class="fa-solid fa-circle-half-stroke"></i>
          </div>
          <div class="icon bars"><i class="fa-solid fa-bars"></i></div>
          <div class="icon heart"><i class="fa-regular fa-heart"></i></div>
          <div class="icon left-right">
            <i class="fa-solid fa-arrows-left-right"></i>
          </div>
          <div class="icon clone"><i class="fa-solid fa-clone"></i></div>
          <div class="icon divOpen">
            <i class="fa-solid fa-lock-open lock"></i>
          </div>
        </div>
        <div class="description">
          <h1>Codice colore</h1>
          <p>Nome colore</p>
        </div>
      </div>
    </div>
    <script src="palette_colori.js"></script>
  </body>
</html>
