.palette-container.sideIsOpen {
  width: calc(100% - 300px);
  transition: width 0.3s cubic-bezier(0.6, 0.4, 0, 1), opacity 0.2s ease-in-out;
}

.palette-container {
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
}

.colorContainer {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  text-align: center;
  position: relative;
  gap: 30px;
}

.optionContainer {
  display: flex;
  flex-direction: column;
  opacity: 0;
}
.colorContainer:hover .optionContainer,
.colorContainer:hover .containerPlus {
  opacity: 1;
}
.optionContainer.lockVisible {
  opacity: 1;
}
.optionContainer.lockVisible > div:not(.divOpen) {
  opacity: 0;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  height: 40px;
  width: 40px;
}

.icon:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.05);
}

.description {
  margin-bottom: 5rem;
}
.description h1 {
  font-size: 30px;
  font-weight: 600;
  padding: 10px;
  margin: 15px 0;
}
.description:hover h1 {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  cursor: pointer;
}

.description p {
  font-size: 12px;
}

.btnPlus {
  display: flex;
  width: 30px;
  height: 30px;
  z-index: 80;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
}

.btnPlus:hover {
  background: rgba(0, 0, 0, 0.05);
}

.containerPlus {
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  position: absolute;
  top: 50%;
  right: -22px;
  border-radius: 25px;
  box-shadow: hsla(250, 3%, 0%, 0.075) 0 0 0 1px,
    rgba(0, 0, 0, 0.05) 0 10px 10px -5px;
  cursor: pointer;
  opacity: 0;
  transition: transform 0.1s ease, height 0.15s ease, opacity 0.1s ease;
  z-index: 50;
}

.containerPlus:hover .btnPlus {
  display: flex;
}

/*STATIC COLOR CONTAINER BACKGROUND*/
.firstColorPalette {
  background: #afdceb;
}

.secondColorPalette {
  background: #cae9f5;
}

.thirdColorPalette {
  background: #f0f8ff;
}

.fourthColorPalette {
  background: #add8e6;
}

.fifthColorPalette {
  background: #86c5d8;
}

@media screen and (max-width: 1070px) {
  .description h1 {
    font-size: 15px;
    font-weight: 600;
  }

  .description p {
    font-size: 11px;
  }
}

@media screen and (max-width: 800px) {
  .description h1 {
    font-size: 15px;
    font-weight: 600;
    margin: 0;
    transform: translate3d(0, 0, 0) rotate(-90deg);
  }

  .description p {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .palette-container {
    flex-direction: column;
    width: 100%;
  }

  .colorContainer {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .description {
    margin-bottom: 0;
  }

  .description h1 {
    font-size: 16px;
    font-weight: 600;
    transform: translate3d(0, 0, 0) rotate(-360deg);
    margin-left: 20px;
  }

  .optionContainer {
    flex-direction: row;
    opacity: 1;
    padding: 10px;
  }

  .optionContainer div:not(:nth-last-child(-n + 3)) {
    opacity: 0;
    display: none;
  }

  div.containerPlus {
    display: none;
  }

  i.fa-solid.fa-arrows-left-right {
    transform: rotate(-90deg);
  }

  i.fa-solid.fa-clone {
    transform: rotate(-90deg);
  }

  i.fa-solid.fa-lock-open {
    transform: scaleX(-1);
  }
  .palette-container.sideIsOpen {
    width: 100%;
  }
}
