.color-palette-main-container {
  height: auto;
}
.palette-container {
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
}

.colorContainer {
  display: flex;
  /*  position: relative; */
  height: 100%;
  width: 100%;
  background: rgb(45, 94, 143);
  flex-direction: column;
  justify-content: end;
  align-items: center;
  text-align: center;
  /*   gap: 30px; */
}
.icon:hover {
  background: rgba(0, 0, 0, 0.05);
}
.optionContainer {
  display: flex;
  flex-direction: column;
  gap: 2px;
  opacity: 0;
}
.colorContainer:hover .optionContainer {
  opacity: 1;
}
.optionContainer.lockVisible {
  opacity: 1;
}
.optionContainer.lockVisible > div:not(.divOpen) {
  opacity: 0;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  height: 40px;
  width: 40px;
}
.icon:hover {
  cursor: pointer;
}
/* 
.btnPlus {
  background: white;
  position: absolute;
  border-radius: 50%;
  max-width: 12px;
  max-height: 12px;
  padding: 20px;
  bottom: 440px;
  z-index: 25;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  display: none;
}
.btnPlus:hover {
  cursor: pointer;
}
.containerPlus {
  display: flex;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 45px;
  top: 0px;
  right: -22px;
  z-index: 25;
}

.containerPlus:hover .btnPlus {
  display: flex;
} */
.description {
  margin-bottom: 5rem;
}
.description h1 {
  font-size: 30px;
  padding: 10px;
  margin: 15px 10px 15px 10px;
}
.description:hover h1 {
  background: rgba(0, 0, 0, 0.05);

  border-radius: 10px;
  cursor: pointer;
}
