.navigation-bar-fence {
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  gap: 20px;
  box-shadow: hsla(250, 3%, 0%, 0.075) 0 1px;
  background-color: white;
}

.generator {
  max-width: 500px;
  height: 100%;
  display: flex;
  font-size: 15px;
  align-items: center;
  font-weight: 400;
  color: #7d7c83;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 7px;
}

.horizontal-navigation-bar {
  width: auto;
  height: 36px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 2px;
  max-width: 760px;
}

.dots-menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  cursor: pointer;
  height: 36px;
  width: 36px;
}

.dots-menu {
  width: 3px;
  height: 3px;
  background-color: black;
  border-radius: 50%;
}

.divider {
  background-color: #00000013;
  width: 1px;
  height: 26px;
  margin: 0 7px;
}

.hoverLink {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
}

.img-secondary {
  width: 18px;
  height: 18px;
  margin: 0 10px;
}

.navbar-functionality {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  min-width: 90px;
  max-width: 115px;
  text-decoration: none;
  color: black;
  font-size: 14px;
  padding: 7px;
}

.navbar-functionality-img {
  width: 17px;
  height: 17px;
  padding: 1px;
  margin: 0 7px;
}

.tendon-container {
  height: 36px;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4.5px;
  margin-left: 5px;
  cursor: pointer;
}

.tendon {
  width: 15px;
  height: 1px;
  background-color: black;
}

.dots-menu-container:hover,
.hoverLink:hover,
.navbar-functionality:hover,
.tendon-container:hover {
  background-color: #f2f2f3;
  border-radius: 5px;
}

.button-generator-navbar {
  display: none;
}

@media screen and (max-width: 1100px) {
  .generator {
    display: none;
  }

  .navigation-bar-fence {
    justify-content: end;
  }
}

@media screen and (max-width: 768px) {
  .navigation-bar-fence {
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .dots-menu-container {
    display: none;
  }

  .divider.no-mobile {
    display: none;
  }

  .hoverLink {
    display: none;
  }

  .functionality-text {
    display: none;
  }

  .navbar-functionality {
    width: 36px;
    height: 36px;
    padding: 0;
    min-width: 0;
  }

  .button-generator-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 73.06px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    background: white;
    padding: 0 12px;
    border: 1.5px solid lightgray;
  }

  .tendon {
    width: 18px;
    height: 2px;
  }

  .img-secondary {
    width: 14px;
    height: 14px;
  }
}

@media screen and (max-width: 495px) {
  .openVisualizza {
    display: none;
  }
}

@media screen and (max-width: 340px) {
  .img-secondary {
    display: none;
  }

  .divider-undo-redo {
    display: none;
  }
}
