.navigation-bar-fence {
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.generator {
  width: 53%;
  height: 100%;
  display: flex;
  padding: 0px 0px 0px 7px;
  font-size: 18px;
  align-items: center;
  font-weight: 400;
  color: #7d7c83;

  margin: 10px;
  min-width: 200px;
}
.horizontal-navigation-bar {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 900px;
}

.divider {
  background-color: #00000013;
  width: 1.5px;
  height: 35px;
  margin: 3px;
}

.img-secondary {
  width: 22px;
  height: 22px;
  margin: 15px;
}
.navbar-functionality {
  text-decoration: none;
  color: black;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-functionality:hover {
  background-color: #e3e3e553;
  border-radius: 10px;
}

.hoverLink:hover {
  background-color: #e3e3e553;
  border-radius: 10px;
}

.tendon-container {
  height: 100%;
  width: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3px;
}
.tendon-container:hover {
  background-color: #e3e3e553;
  border-radius: 5px;
  cursor: pointer;
}
.dots-menu-container:hover {
  background-color: #e3e3e553;
  border-radius: 5px;
  cursor: pointer;
}

.tendon {
  width: 15px;
  height: 2px;
  background-color: black;
}

.dots-menu-container {
  height: 100%;
  width: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.dots-menu {
  width: 3px;
  height: 3px;
  background-color: black;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .horizontal-navigation-bar {
    display: none;
  }
}

@media (max-width: 1100px) {
  .generator {
    display: none;
  }
  .horizontal-navigation-bar {
    width: 100%;
  }
  .navigation-bar-fence {
    justify-content: end;
  }
}
