div.pro-modal-container,
div.pro-modal-overlay {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
}

/* quando si aggiunge la classe show */
div.pro-modal-container.show,
div.pro-modal-overlay.show {
  opacity: 1;
  visibility: visible;
}

/*PRO MODAL GENERAL RULES*/
div.pro-modal-container {
  width: 884px;
  height: auto;
  background-color: white;
  border-radius: 14px;
  z-index: 100;
  background: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 20px;
  /*   visibility: hidden; */
  transition: transform 0.2s ease-in-out;
}

/*PRO MODAL MAIN SECTION*/
div.pro-modal-main-content {
  max-height: 500px;
  width: 100%;
  display: flex;
  position: relative;
}

/*CLOSE PRO MODAL*/
div.close-pro-modal {
  width: 32px;
  height: 32px;
  background-color: white;
  box-shadow: hsla(250, 3%, 0%, 0.15) 0 0 0 1px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 1;
}

div.close-pro-modal:hover {
  border: 1px solid rgba(110, 110, 110, 0.816);
}

div.close-pro-modal svg {
  width: 20px;
  height: 20px;
}

/*PRO MODAL DESCRIPTION*/
div.pro-privilege-description {
  overflow: auto;
  padding: 30px 30px 0 30px;
  width: 392px;
  height: 424px;
}

div.pro-privilege-description h1 {
  font-size: 35px;
  font-weight: 900;
  letter-spacing: -0.045rem;
}

div.pro-privilege-description h2 {
  font-size: 18px;
  font-weight: 450;
  color: hsl(240, 3%, 40%);
  line-height: 1.5rem;
  margin-top: 15px;
}

ul.pro-privilege-list {
  margin-top: 30px;
}

ul.pro-privilege-list li {
  margin-bottom: 15px;
  font-size: 14px;
  color: #636369;
  line-height: 1.4rem;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

span.strong-pro-list {
  color: black;
  font-weight: 600;
}

img.pro-list-pointer {
  width: 12px;
  height: 12px;
  margin-right: 10px;
}

ul.pro-privilege-list li a {
  color: #636369;
}

ul.pro-privilege-list li a.pro-more {
  color: #0066ff;
  margin-left: 23px;
}

p.pro-conditions {
  font-size: 14px;
  line-height: 1.25rem;
  margin-top: 25px;
}

/*HIDE SCROLLBAR*/
div.pro-privilege-description {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox, Safari 18.2+, Chromium 121+ */
}
div.pro-privilege-description::-webkit-scrollbar {
  display: none; /* Older Safari and Chromium */
}

/*GO PRO BUTTON*/
div.btn-pro-container {
  position: sticky;
  left: 0;
  width: 100%;
  height: 76px;
  padding: 20px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.12) 10px -2px 10px;
}

button.go-pro-button {
  width: 100%;
  height: 36px;
  background-color: #ff0096;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
}

button.go-pro-button:hover {
  background-color: rgb(237, 0, 138);
}

/*PRO SHOWDOWN*/
div.pro-showdown {
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 0 14px 0 0;
}

div.pro-showdown img {
  width: 250%;
  height: 250%;
  position: absolute;
  transform: rotate(-35deg);
}

div.pro-icon-container {
  background-color: white;
  height: 200px;
  width: 200px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 1px rgba(131, 131, 131, 0.324);
}

div.pro-icon-container img.pro-icon {
  width: 170px;
  height: 170px;
  transform: none;
  position: relative;
  top: 0;
  bottom: 0;
}

/*PRO FOOTER*/
footer.pro-modal-footer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 14px 14px;
  background-color: #f7f7f8;
  padding: 20px 30px;
}

footer.pro-modal-footer p {
  font-size: 12px;
  margin-right: 15px;
  height: 24px;
}

img.pro-users {
  width: 210px;
  height: auto;
  margin-right: 15px;
}

img.pro-companies {
  width: 400px;
  height: auto;
}

/*PRO OVERLAY*/
div.pro-modal-overlay {
  width: 100%;
  height: 100%;
  background: rgba(72, 72, 72, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 25;
}

@media screen and (max-width: 992px) {
  div.pro-modal-container {
    width: 660px;
  }

  footer.pro-modal-footer {
    display: none;
  }

  div.btn-pro-container {
    border-radius: 0 0 0 14px;
  }

  div.pro-showdown {
    border-radius: 0 14px 14px 0;
  }
}

@media screen and (max-width: 768px) {
  div.pro-modal-container {
    width: 468px;
  }

  div.pro-privilege-description {
    width: 100%;
  }

  div.pro-showdown {
    display: none;
  }

  div.btn-pro-container {
    border-radius: 0 0 14px 14px;
  }
}

@media screen and (max-width: 575px) {
  div.pro-modal-container {
    width: 100%;
    top: auto;
    bottom: 0;
    left: 0;
    transform: translateY(100%); /* parte fuori dalla schermata */
    border-radius: 14px 14px 0 0;
  }

  div.pro-modal-container.show {
    transform: translateY(0); /* entra dal basso */
  }
}
