<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pro Modal</title>
    <link rel="stylesheet" href="../../assets/css/common.css" />
    <link rel="stylesheet" href="pro-modal.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-----------------------PRO MODAL------------------------->
    <div class="pro-modal-container">
      <div class="pro-modal-main-content">
        <div class="close-pro-modal">
          <svg
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            stroke="#000000"
            stroke-width="0.00024000000000000003"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></g>
            <g id="SVGRepo_iconCarrier">
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M5.29289 5.29289C5.68342 4.90237 6.31658 4.90237 6.70711 5.29289L12 10.5858L17.2929 5.29289C17.6834 4.90237 18.3166 4.90237 18.7071 5.29289C19.0976 5.68342 19.0976 6.31658 18.7071 6.70711L13.4142 12L18.7071 17.2929C19.0976 17.6834 19.0976 18.3166 18.7071 18.7071C18.3166 19.0976 17.6834 19.0976 17.2929 18.7071L12 13.4142L6.70711 18.7071C6.31658 19.0976 5.68342 19.0976 5.29289 18.7071C4.90237 18.3166 4.90237 17.6834 5.29289 17.2929L10.5858 12L5.29289 6.70711C4.90237 6.31658 4.90237 5.68342 5.29289 5.29289Z"
                fill="#0F1729"
              ></path>
            </g>
          </svg>
        </div>

        <div>
          <div class="pro-privilege-description">
            <h1>Passa a Pro per generare più di 5 colori.</h1>
            <h2>
              Con il piano gratuito puoi generare palette fino a 5 colori. Passa
              a pro per rimuovere questo limite.
            </h2>
            <ul class="pro-privilege-list">
              <li>
                <img
                  class="pro-list-pointer"
                  src="../../assets/img/pro-flower.svg.svg"
                  alt="list pointer"
                />
                <p>
                  <span class="strong-pro-list">Rimuovi gli annunci</span> e i
                  popup per entrare nel paradiso dei colori
                </p>
              </li>
              <li>
                <img
                  class="pro-list-pointer"
                  src="../../assets/img/pro-flower.svg.svg"
                  alt="list pointer"
                />
                <p>
                  <span class="strong-pro-list">Genera palette</span> con più di
                  5 colori automaticamente o con regole di teoria del colore
                </p>
              </li>
              <li>
                <img
                  class="pro-list-pointer"
                  src="../../assets/img/pro-flower.svg.svg"
                  alt="list pointer"
                />
                <p>
                  Salva <span class="strong-pro-list">palette illimitate</span>,
                  colori e gradienti, e organizzali in progetti e collezioni
                </p>
              </li>
              <li>
                <img
                  class="pro-list-pointer"
                  src="../../assets/img/pro-flower.svg.svg"
                  alt="list pointer"
                />
                <p>
                  Esplora più di
                  <span class="strong-pro-list"
                    >10 milioni di schemi di colori</span
                  >
                  perfetti per qualsiasi progetto
                </p>
              </li>
              <li>
                <img
                  class="pro-list-pointer"
                  src="../../assets/img/pro-flower.svg.svg"
                  alt="list pointer"
                />
                <p>
                  <span class="strong-pro-list">Profilo Pro</span>, una nuova
                  bellissima pagina per presentarti e mostrare le tue palette,
                  progetti e collezioni
                </p>
              </li>
              <li>
                <img
                  class="pro-list-pointer"
                  src="../../assets/img/pro-flower.svg.svg"
                  alt="list pointer"
                />
                <p>
                  Ottieni
                  <span class="strong-pro-list"
                    >opzioni avanzate di esportazione PDF</span
                  >
                  come sfumature, tonalità, daltonismo, ecc.
                </p>
              </li>
              <li>
                <img
                  class="pro-list-pointer"
                  src="../../assets/img/pro-flower.svg.svg"
                  alt="list pointer"
                />
                <p>
                  Sblocca strumenti aggiuntivi come il nuovo
                  <span class="strong-pro-list">Visualizzatore di Palette</span>
                  per verificare i tuoi colori su design reali
                </p>
              </li>
              <li>
                <img
                  class="pro-list-pointer"
                  src="../../assets/img/pro-flower.svg.svg"
                  alt="list pointer"
                />
                <p>
                  <span class="strong-pro-list">Supportami</span> come
                  sviluppatore <a href="#">indipendente</a>
                </p>
              </li>
              <li><a class="pro-more" href="#">E altro ancora...</a></li>
            </ul>
            <p class="pro-conditions">
              <span class="strong-pro-list"
                >Annulla il tuo abbonamento in qualsiasi momento.</span
              >
              Ti invieremo promemoria 3 giorni prima dei rinnovi.
            </p>
          </div>
          <div class="btn-pro-container">
            <button class="go-pro-button" type="button">
              Passa a Pro per soli €3/mese
            </button>
          </div>
        </div>
        <div class="pro-showdown">
          <img src="../../assets/img/homepage-color-palette.png" />
          <div class="pro-icon-container">
            <img
              class="pro-icon"
              src="../../assets/img/pro-icon.svg.svg"
              alt="pro-icon"
            />
          </div>
        </div>
      </div>
      <footer class="pro-modal-footer">
        <p>Used by 5+ milion users</p>
        <img
          class="pro-users"
          src="../../assets/img/pro-user.png"
          alt="pro users avatar"
        />
        <p>And top companies</p>
        <img
          class="pro-companies"
          src="../../assets/img/pro-companies.png"
          alt="pro companies logo"
        />
      </footer>
    </div>
    <div class="pro-modal-overlay"></div>
  </body>
</html>
