<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cards</title>
    <link rel="stylesheet" href="../../assets/css/common.css" />
    <link rel="stylesheet" href="cards.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-----CARDS CONTAINER----->
    <div class="cards-container">
      <!-----FIRST CARD----->
      <div class="card cyan">
        <a
          class="card-link"
          href="https://chromewebstore.google.com/detail/coolors-for-chrome/paebljbhhfgngkcldmbcogmkgegjgmbg"
          target="_blank"
        >
          <img
            class="card-logo"
            src="../../assets/img/apple-icon.svg"
            alt="apple's logo"
          />
          <h2 class="card-title">App iOS</h2>
          <p class="card-description">
            Crea, sfoglia e salva palette ovunque.
          </p></a
        >
      </div>
      <!-----SECOND CARD----->
      <div class="card green">
        <a
          class="card-link"
          href="https://play.google.com/store/apps/details?id=co.coolors.android"
          target="_blank"
        >
          <img
            class="card-logo"
            src="../../assets/img/android-icon.svg"
            alt="android's logo second-style"
          />
          <h2 class="card-title">App Android</h2>
          <p class="card-description">
            Migliaia di palette a portata di mano.
          </p></a
        >
      </div>
      <!-----THIRD CARD----->
      <div class="card pink">
        <a
          class="card-link"
          href="https://www.figma.com/community/plugin/1068919813159975006/coolors"
          target="_blank"
        >
          <img
            class="card-logo second-style"
            src="../../assets/img/figma-icon.svg"
            alt="figma's logo"
          />
          <h2 class="card-title">Plugin Figma</h2>
          <p class="card-description">
            Tutte le palette direttamente nel tuo workspace.
          </p></a
        >
      </div>
      <!-----FOURTH CARD----->
      <div class="card violet">
        <a
          class="card-link"
          href="https://chromewebstore.google.com/detail/coolors-for-chrome/paebljbhhfgngkcldmbcogmkgegjgmbg"
          target="_blank"
        >
          <img
            class="card-logo second-style"
            src="../../assets/img/chrome-icon.svg"
            alt="chrome's logo"
          />
          <h2 class="card-title">Estensione Chrome</h2>
          <p class="card-description">
            Ottieni e modifica una palette ogni nuova scheda.
          </p></a
        >
      </div>
      <!-----FIFTH CARD----->
      <div class="card yellow">
        <a class="card-link" href="#adobe" target="_blank">
          <img
            class="card-logo second-style"
            src="../../assets/img/adobe-icon.svg"
            alt="adobe's logo"
          />
          <h2 class="card-title">Estensione Adobe</h2>
          <p class="card-description">
            Usa Coolors con i tuoi strumenti preferiti.
          </p></a
        >
      </div>
    </div>
  </body>
</html>
