<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../assets/css/common.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="navbar_principale.css" />
  </head>
  <body>
    <nav class="nav-container">
      <nav class="mobile-nav">
        <div class="mobileSection">
          <div class="mobileGenerator">Generatore di Palette</div>
          <div class="mobilePalette">Esplora Palette</div>
          <div class="mobileImage">Estrai da Immagine</div>
          <div class="mobileContrast">Verifica Contrasto</div>
          <div class="mobilefont">Elenco di Font</div>
        </div>
        <div class="strument mobileMenu">
          <h1>ALTRI STRUMENTI</h1>
          <div>Elenco di colori</div>
          <div>Sfoglia Gradienti</div>
          <div>Crea un Gradiente</div>
          <div>Crea una Palette Gradiente</div>
          <div>Selettore Colori</div>
          <div>Creatore di Collage</div>
          <div>Convertitore Immagini</div>
        </div>
        <div class="app mobileMenu">
          <h1>APP</h1>
          <div>App IOS</div>
          <div>App Android</div>
          <div>Plugin Figma</div>
          <div>Estenzione Chrome</div>
          <div>Pagina Instagram</div>
        </div>
        <div class="account mobileMenu">
          <h1>ACCOUNT</h1>
          <div>Accedi</div>
          <div>Registrati</div>
          <div>Passa a Pro</div>
        </div>
      </nav>
      <div class="overlay"></div>
      <i class="fa-solid fa-bars"></i>
      <img src="../../assets/img/logo.svg" alt="coolors" />

      <ul class="nav-options">
        <li class="btn-tools">
          <a href="#">Strumenti<i class="fa-solid fa-chevron-down"></i></a>
          <div class="bigMenu">
            <div class="iconSection">
              <div class="generatorNavMain icon">
                <img
                  src="../../assets/img/menu_icon_generate.svg"
                  alt="generator"
                />
                <div class="navText">
                  <h1>Generatore di palette</h1>
                  <span>crea le tue palette in pochi secondi</span>
                </div>
              </div>
              <div class="explore iconNavMain">
                <img
                  src="../../assets/img/menu_icon_explore.svg"
                  alt="explore"
                />
                <div class="navText">
                  <h1>Esplora Palette</h1>
                  <span>Sfoglia milioni di schemi di colori di tendenza</span>
                </div>
              </div>
              <div class="extract iconNavMain">
                <img
                  src="../../assets/img/menu_icon_image_picker.svg"
                  alt="extract"
                />
                <div class="navText">
                  <h1>Estrai dall'immagine</h1>
                  <span>Ottieni bellissime palette dalle tue foto</span>
                </div>
              </div>
              <div class="contrast iconNavMain">
                <img
                  src="../../assets/img/menu_icon_contrast_checker.svg"
                  alt="contrast"
                />
                <div class="navText">
                  <h1>Verifica Constratto</h1>
                  <span>Verifica il contrasto tra 2 colori</span>
                </div>
              </div>
              <div class="viewer iconNavMain">
                <img
                  src="../../assets/img/menu_icon_visualizer.svg"
                  alt="viewer"
                />
                <div class="navText">
                  <h1>Visualizzazione Palette</h1>
                  <span>Anteprima dei tuoi colori su design reali</span>
                </div>
              </div>
            </div>
            <div class="iconLessSection">
              <div class="linkSection">
                <ul class="linkSectionUl">
                  <li><a href="#">Elenco di colori</a></li>
                  <li><a href="#">Sfoglia Gradienti</a></li>
                  <li><a href="#">Crea un Gradiente</a></li>
                  <li><a href="#">Crea una Palette Gradiente</a></li>
                  <li><a href="#">Selettore Colori</a></li>
                  <li><a href="#">Creatore di Collage</a></li>
                  <li><a href="#">Elenco di Font</a></li>
                  <li><a href="#">Convertitore immagini</a></li>
                </ul>
              </div>
              <div class="appSection">
                <ul class="appSectionUl">
                  <li class="app">APP</li>
                  <li><a href="#">App IOS</a></li>
                  <li><a href="#">App Android</a></li>
                  <li><a href="#">Plugin Figma</a></li>
                  <li><a href="#">Estenzione Adobe</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li class="btn-pro">
          <a href="#">Passa a pro</a>
        </li>
        <li>
          <span class="spanider"></span>
        </li>
        <li class="log-in">
          <a href="#">Accedi</a>
        </li>
        <li class="btn-register">
          <a href="#">Registrati</a>
        </li>
      </ul>
    </nav>

    <script src="navbar_principale.js"></script>
  </body>
</html>
