.nav-container {
  border-bottom: solid #ececec 1px;
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  z-index: 0;
}
.nav-container img {
  margin-left: 20px;
  width: 110px;
  height: 18px;
}
.nav-options {
  display: flex;
  gap: 1rem;
  font-size: 15px;
  align-items: center;
  font-weight: 500;
}
.nav-options a {
  text-decoration: none;
  list-style: none;
  color: #000000;
}
.btn-tools {
  position: relative;
  padding: 1rem 0 1rem 0;
}
.btn-tools :hover {
  color: #0066ff;
}
.log-in a:hover {
  color: #0066ff;
}
.btn-register {
  display: flex;
  width: 90px;
  height: 35px;
  background: #0066ff;
  color: white;
  font-weight: 600;
  font-size: 15px;
  border: none;
  border-radius: 8px;
  transition: background-color 0.1s ease-in-out;
  margin-right: 20px;
  align-items: center;
  justify-content: center;
}

.btn-register:hover {
  background-color: #005ce6;
}
.btn-register a {
  color: white;
}

.btn-pro a {
  color: #ff0096;
}
/* text "passa a pro" rainbow animation */
.btn-pro :hover {
  background-image: linear-gradient(
    90deg,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  background-size: 300%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: rainbow-text 2s linear infinite;
}
@keyframes rainbow-text {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.spanider {
  display: inline-block;
  width: 1px;
  height: 35px;
  background-color: #ececec;
  margin: 0 10px;
}
/* big menu */
.bigMenu {
  background: #ececec;
  border: solid #ececec 1px;
  border-radius: 10px;
  display: flex;
  position: absolute;
  top: 45px;
  right: -5px;
  gap: 2px;
  height: 500px;
  width: 740px;
  z-index: 100;
  box-shadow: rgba(0, 0, 0, 0.05) 0 0 0 1px, rgba(0, 0, 0, 0.12) 0 15px 30px 0px;
  display: none;
}
.btn-tools:hover {
  .bigMenu {
    display: flex;
  }
}
.iconSection img {
  height: 55px;
  width: 55px;
  margin-right: 15px;
}
.navText {
  display: flex;
  flex-direction: column;
}
.navText h1 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 6px;
}
.navText > span,
h1 {
  color: #000000;
}
.iconSection {
  display: flex;
  background: #ffffff;
  width: 220%;
  flex-direction: column;
  gap: 5px;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px 0 15px 0;
}
.icon {
  display: flex;
  justify-content: start;
  align-items: center;
  transition: 0.5s;
  border-radius: 8px;
  width: 90%;
  height: 20%;
}

.generatorNavMain:hover {
  background: #e9fcf6;
  h1 {
    color: #119c75;
  }
}
.explore:hover {
  background: #fff2f9;
  h1 {
    color: #ff0e9c;
  }
}
.extract:hover {
  background: #f2f7ff;
  h1 {
    color: #0b6efb;
  }
}
.contrast:hover {
  background: #fef9e6;
  h1 {
    color: #daab00;
  }
}
.viewer:hover {
  background: #f7f0fe;
  h1 {
    color: #802fde;
  }
}

.iconLessSection {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: 1.5rem;
  justify-content: center;
  background: #f7f7f8;
  padding: 2rem;
}
.linkSection,
.appSection {
  display: flex;
}
.appSectionUl,
.linkSectionUl {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
}
.app {
  color: #000000;
  pointer-events: none;
}
.navText > span {
  pointer-events: none;
}

.fa-chevron-down {
  margin-left: 8px;
}
/* nav da mobile */
.mobile-nav {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 50;
  background: #ffffff;
  height: 100%;
  max-width: 320px;
  width: calc(100% - 50px); /* aggiunto spazio nel calc */
  padding: 20px 30px;
  flex-direction: column;
  gap: 4rem;
  justify-content: space-between;

  display: flex; /* resta sempre nel DOM */
  transform: translateX(-100%); /* fuori schermo a sinistra */
  overflow-y: auto;
  transition: transform 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.mobileGenerator {
  color: #18d39e;
  font-size: 22px;
}
.mobilePalette {
  color: #ff00a4;
  font-size: 22px;
}
.mobileImage {
  color: #0067fb;
  font-size: 22px;
}
.mobileContrast {
  color: #f2be29;
  font-size: 22px;
}
.mobilefont {
  color: #8e34f7;
  font-size: 22px;
}
.mobileSection {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-weight: bold;
}
.mobileMenu {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-weight: 500;
}
.mobileMenu h1 {
  font-size: 14px;
  font-weight: bold;
  color: #b3b4ba;
  font-weight: 800;
}
.mobileMenu div {
  font-size: 18px;
}
i.fa-bars {
  display: none;
  position: absolute;
  left: 0;
  margin-left: 1rem;
}
.overlay {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 25;
  background: rgba(72, 72, 72, 0.5);
  display: none;
}
.navOpen {
  display: flex;
  transform: translateX(0); /* entra in scena */
}

@media screen and (max-width: 768px) {
  .nav-options {
    display: none;
  }
  .nav-container {
    justify-content: center;
  }
  i.fa-bars {
    display: block;
  }
  .nav-container img {
    margin-left: 0;
  }
}
