/*
 Stili della pagina Generatore di Palette
*/
.color-palette-main-container {
  height: 100%;
  position: absolute;
  bottom: 0;
  top: 116px;
  left: 0;
  right: 0;
}

@media screen and (max-width: 768px) {
  .color-palette-main-container {
    top: 60px;
    bottom: 56px;
  }
}
