<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Esporta Modal</title>
    <link rel="stylesheet" href="../../assets/css/common.css" />
    <link rel="stylesheet" href="esporta.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!--------------------ESPORTA MODAL----------------------->
    <div class="esporta-modal-container">
      <!--------------------CLOSE MODAL SVG----------------------->
      <div class="esporta-modal-header">
        <div class="close-esporta-modal">
          <svg
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            stroke="#000000"
            stroke-width="0.00024000000000000003"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></g>
            <g id="SVGRepo_iconCarrier">
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M5.29289 5.29289C5.68342 4.90237 6.31658 4.90237 6.70711 5.29289L12 10.5858L17.2929 5.29289C17.6834 4.90237 18.3166 4.90237 18.7071 5.29289C19.0976 5.68342 19.0976 6.31658 18.7071 6.70711L13.4142 12L18.7071 17.2929C19.0976 17.6834 19.0976 18.3166 18.7071 18.7071C18.3166 19.0976 17.6834 19.0976 17.2929 18.7071L12 13.4142L6.70711 18.7071C6.31658 19.0976 5.68342 19.0976 5.29289 18.7071C4.90237 18.3166 4.90237 17.6834 5.29289 17.2929L10.5858 12L5.29289 6.70711C4.90237 6.31658 4.90237 5.68342 5.29289 5.29289Z"
                fill="#0F1729"
              ></path>
            </g>
          </svg>
        </div>
        <!--------------------MODAL TITLE----------------------->
        <div class="esporta-modal-title"><h3>Esporta Palette</h3></div>
      </div>
      <!--------------------MODAL BODY----------------------->
      <div class="esporta-modal-body">
        <a class="esporta-link" href="#"
          ><img src="../../assets/img/url-icon.svg" alt="icona url" />URL</a
        >
        <a class="esporta-link" href="#"
          ><img
            src="../../assets/img/condividi-icon.svg"
            alt="icona condividi raffigurante un gruppo di tre persone"
          />Condividi</a
        >
        <a class="esporta-link" href="#"
          ><img
            src="../../assets/img/pdf-icon.svg"
            alt="icona pdf rappresentante un foglio scritta"
          />PDF</a
        >
        <a class="esporta-link" href="#"
          ><img
            src="../../assets/img/immagine-icon.svg"
            alt="icona immagine"
          />Immagine</a
        >
        <a class="esporta-link" href="#"
          ><img
            src="../../assets/img/css-icon.svg"
            alt="icona linguaggio CSS"
          />CSS</a
        >
        <a class="esporta-link" href="#"
          ><img
            src="../../assets/img/color-palette-icon.svg"
            alt="icona palette di colori"
          />ASE</a
        >
        <a class="esporta-link" href="#"
          ><img
            src="../../assets/img/svg-icon.svg"
            alt="icona svg, rappresentata da un quadrato avente, per ogni angolo, un altro piccolo quadrato"
          />SVG</a
        >
        <a class="esporta-link" href="#"
          ><img
            src="../../assets/img/codice-icon.svg"
            alt="icona di una pergamena scritta"
          />Codice</a
        >
        <a class="esporta-link" href="#"
          ><img
            src="../../assets/img/incorpora-icon.svg"
            alt="icona incorpora"
          />Incorpora</a
        >
        <a class="esporta-link" href="#"
          ><img
            src="../../assets/img/facebook-icon.svg"
            alt="icona facebook"
          />Facebook</a
        >
        <a class="esporta-link" href="#"
          ><img
            src="../../assets/img/x-icon.svg"
            alt="icona del social network X"
          />X</a
        >
        <a class="esporta-link" href="#"
          ><img
            src="../../assets/img/pinterest-icon.svg"
            alt="icona pinterest"
          />Pinterest</a
        >
      </div>
    </div>
    <div class="esporta-modal-overlay"></div>
  </body>
</html>
