/*FOOTER GENERAL RULES*/
footer.home-footer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f7f7f8;
  padding: 30px 2% 10px;
}

/*STYLING LINK SECTION*/
div.footer-main-section {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: start;
  gap: 9%;
  width: 100%;
}

div.footer-list {
  padding: 24px;
  margin-bottom: 10px;
}

div.footer-list h3 {
  font-size: 22px;
  font-weight: 800;
  margin-bottom: 30px;
}

div.footer-list li {
  padding: 10px 0;
  font-size: 16.5px;
  font-weight: 500;
}

div.footer-list a {
  text-decoration: none;
  color: black;
  transition: color 0.1s ease-in-out 0s;
}

/*HOVER EFFECT ON LINK*/
div.footer-list a:hover {
  color: #0066ff;
}

/*CREATING A DIVIDER*/
div.footer-divider {
  background-color: #e5e5e6;
  width: 95%;
  height: 1px;
  margin-bottom: 10px;
}

/*STYLING FOOTER COPYRIGHT SECTION*/
div.footer-copyright {
  width: 99%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
}

div.footer-copyright p {
  width: 50%;
  font-size: 13px;
  color: #636369;
  font-weight: 500;
}

div.footer-copyright a {
  color: black;
  text-decoration: none;
  font-size: 14.3px;
  font-weight: 600;
  transition: color 0.1s ease-in-out 0s;
}

div.footer-copyright a:hover {
  text-decoration: underline;
  color: #0066ff;
}

/*SECTION WITH BUTTON AND SOCIAL ICONS*/
div.footer-interactive {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 55%;
}

/*BUTTON*/
button.language-button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 131px;
  height: 36px;
  border: 1px solid lightgray;
  border-radius: 8px;
  cursor: pointer;
  background-color: #f7f7f8;
  position: relative;
  font-family: "Inter", sans-serif;
  transition: border-color 0.1s ease-in-out;
}

button.language-button:hover {
  border-color: rgb(78, 78, 78);
}

button.language-button img {
  width: 18px;
  height: 22px;
}

button.language-button p {
  font-size: 15px;
  color: black;
}

button.language-button svg {
  width: 15px;
  height: 18px;
  margin-left: 7px;
}

div.choose-language {
  position: absolute;
  top: -75px;
  left: -1;
  background: white;
  width: 101%;
  border: 1px solid lightgray;
  border-radius: 8px 8px 0 0;
  padding: 5px;
  z-index: 20;
}

.closed {
  display: none;
}

div.language p {
  text-align: left;
  font-size: 16.5px;
  font-weight: 450;
  padding: 6px 14px;
  width: 100%;
}

div.eng p {
  margin-bottom: 5px;
}

div.language p:hover {
  background-color: #f2f2f3;
  border-radius: 5px;
}

.active {
  background-color: #e6f0ff;
  color: #005cea !important;
  border-radius: 5px;
}

/*SOCIAL ICONS*/
div.social-icons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 30%;
}

div.social-icons svg {
  width: 20px;
  height: 20px;
  transition: fill 0.1s ease-in-out 0s;
}

div.social-icons svg:hover {
  fill: #0066ff;
}

@media screen and (min-width: 1500px) {
  div.footer-main-section {
    max-width: 1500px;
  }

  div.footer-divider {
    max-width: 1500px;
  }

  div.footer-copyright {
    max-width: 1500px;
  }
}

@media screen and (max-width: 768px) {
  div.footer-main-section {
    flex-direction: column;
    align-items: center;
  }

  div.footer-list {
    text-align: center;
  }

  div.footer-copyright {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  div.footer-copyright p {
    text-align: center;
    width: 80%;
    line-height: 1.3rem;
  }

  div.footer-interactive {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
  }

  div.social-icons {
    width: 50%;
    gap: 10px;
  }

  div.language p {
    width: 100%;
  }
}
