<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Main</title>
    <link rel="stylesheet" href="../../assets/css/common.css" />
    <link rel="stylesheet" href="main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="home-main-container">
      <div class="home-intro">
        <h1 class="intro-title">Il generatore di palette super veloce!</h1>
        <p class="intro-description">
          Crea la palette perfetta o lasciati ispirare da migliaia di bellissimi
          schemi di colori.
        </p>
        <a href="https://coolors.co/4c6085-39a0ed-36f1cd-13c4a3-32322c"
          ><button class="intro-generate">Avvia il generatore!</button></a
        >
        <a href="https://coolors.co/palettes/trending"
          ><button class="intro-palette">Esplora palette di tendenza</button></a
        >
        <a
          href="https://www.producthunt.com/products/coolors?utm_source=badge-top-post-badge&utm_medium=badge&utm_souce=badge-coolers&launch=coolers"
          target="_blank"
          ><img
            class="intro-first-product"
            src="../../assets/img/coolors-best-product-icon.svg"
          />
        </a>
      </div>
      <div class="home-animated-screens">
        <div class="pc-svg-screens">
          <object
            data="../../assets/img/animated-screens.svg"
            type="image/svg+xml"
            id="animated-screens-svg"
          ></object>
        </div>

        <div class="mobile-svg-screen">
          <svg
            version="1.1"
            id="homepage_hero_image-mobile"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="0 0 498.94 301.86"
            style="enable-background: new 0 0 498.94 301.86"
            xml:space="preserve"
          >
            <style type="text/css">
              #homepage_hero_image-mobile .st01 {
                fill: #9b5de5;
              }
              #homepage_hero_image-mobile .st11 {
                fill: #f15bb5;
              }
              #homepage_hero_image-mobile .st21 {
                fill: #fee440;
              }
              #homepage_hero_image-mobile .st31 {
                fill: #00bbf9;
              }
              #homepage_hero_image-mobile .st41 {
                fill: #00f5d4;
              }
              #homepage_hero_image-mobile .st51 {
                fill: #c9c8cc;
              }
            </style>
            <path
              d="M450.79,288.72V20.22c0.1-7.6-6.1-13.9-13.8-14c0,0,0,0-0.1,0H59.59c-7.7,0.1-13.9,6.3-13.9,13.9c0,0,0,0,0,0.1v268.5
		H450.79z"
            ></path>
            <g id="homepage_hero-generator-laptop-mobile">
              <path
                class="st01"
                d="M324.79,16.12h112c2.2,0,4,1.8,4,4v255h-116V16.12z"
                style="fill: rgb(84, 88, 99)"
              ></path>
              <rect
                x="249.79"
                y="16.12"
                class="st11"
                width="115"
                height="259"
                style="fill: rgb(0, 232, 252)"
              ></rect>
              <rect
                x="171.79"
                y="16.12"
                class="st21"
                width="115"
                height="259"
                style="fill: rgb(249, 110, 70)"
              ></rect>
              <rect
                x="94.79"
                y="16.12"
                class="st31"
                width="116"
                height="259"
                style="fill: rgb(249, 200, 70)"
              ></rect>
              <path
                class="st41"
                d="M59.79,16.12h74v259h-78v-255C55.79,17.92,57.59,16.12,59.79,16.12z"
                style="fill: rgb(255, 227, 227)"
              ></path>
            </g>
            <path
              class="st51"
              d="M9.79,285.22h480l0,0c0,5.5-4.5,10-10,10h-460C14.29,295.22,9.79,290.72,9.79,285.22L9.79,285.22z"
            ></path>
          </svg>
        </div>
      </div>
    </div>
    <script src="main.js"></script>
  </body>
</html>
