/*MAIN CONTAINER GENERAL RULES*/
div.home-main-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 25px 0px 0;
  margin-bottom: 7%;
  margin-top: 3%;
  max-width: 1700px;
}

/*STYLING TITLE'S AND BUTTONS' CONTAINER*/
div.home-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 50%;
}

/*STYLING TITLE AND BUTTONS*/
h1.intro-title {
  font-size: 70px;
  width: 80%;
  font-weight: 900;
  line-height: 4.7rem;
  letter-spacing: -2px;
  margin-bottom: 30px;
}

p.intro-description {
  font-size: 18px;
  font-weight: 450;
  color: #464853;
  line-height: 1.5rem;
  max-width: 400px;
  margin: 0 50px 35px 50px;
}

/*BUTTONS*/
button.intro-generate {
  width: 260px;
  height: 46px;
  background: #0066ff;
  color: white;
  font-weight: 600;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  margin-bottom: 14px;
  transition: background-color 0.1s ease-in-out;
}

button.intro-generate:hover {
  background-color: #005ce6;
  cursor: pointer;
}

button.intro-palette {
  width: 260px;
  height: 46px;
  background: white;
  color: black;
  font-weight: 600;
  font-size: 16px;
  border: 1.5px solid lightgray;
  border-radius: 10px;
  margin-bottom: 34px;
  transition: border-color 0.1s ease, box-shadow 0.1s ease;
}

button.intro-palette:hover {
  border-color: rgb(176, 176, 176);
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(185, 185, 185, 0.1);
}

div.home-animated-screens {
  width: 75%;
  height: 600px;
}

div.pc-svg-screens {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
}

#animated-screens-svg {
  position: absolute;
  top: 8%;
  left: 10%;
  width: 100%;
  height: 500px;
  transform: scale(1.21);
  overflow: hidden;
}

div.mobile-svg-screen {
  display: none;
}

@media screen and (min-width: 1700px) {
  div.home-intro {
    width: 50%;
    padding-left: 3%;
    padding-right: 3%;
  }

  div.home-animated-screens {
    width: 70%;
  }

  #animated-screens-svg {
    top: 13%;
    left: 0;
    width: 100%;
    transform: scale(1.1);
    overflow-x: visible;
  }
}

@media screen and (max-width: 1335px) {
  div.home-intro {
    width: 50%;
    padding-left: 3%;
    padding-right: 3%;
  }

  div.home-animated-screens {
    width: 50%;
  }

  #animated-screens-svg {
    top: 10%;
    left: 35%;
    width: 100%;
    transform: scale(1.6);
  }
}

@media screen and (max-width: 1200px) {
  h1.intro-title {
    font-size: 50px;
    line-height: 3.5rem;
  }
}

@media screen and (max-width: 992px) {
  div.home-intro {
    width: 70%;
    padding-left: 3%;
    padding-right: 3%;
  }

  div.home-animated-screens {
    width: 60%;
  }

  #animated-screens-svg {
    top: 13%;
    left: 55%;
    width: 100%;
    transform: scale(2.1);
  }
}

@media screen and (max-width: 768px) {
  div.home-main-container {
    flex-direction: column-reverse;
    height: auto;
    margin-top: 50px;
    margin-bottom: 10%;
    width: 100%;
  }

  div.home-intro {
    width: 100%;
    height: auto;
  }

  h1.intro-title {
    width: 90%;
  }

  p.intro-description {
    margin: 0 0 35px 0;
    width: 90%;
  }

  div.home-animated-screens {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10%;
  }

  div.pc-svg-screens {
    display: none;
  }

  div.mobile-svg-screen {
    display: block;
    width: 95%;
  }
}
