<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Main</title>
    <link rel="stylesheet" href="../../assets/css/common.css" />
    <link rel="stylesheet" href="main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="home-main-container">
      <div class="home-intro">
        <h1 class="intro-title">Il generatore di palette super veloce!</h1>
        <p class="intro-description">
          Crea la palette perfetta o lasciati ispirare da migliaia di bellissimi
          schemi di colori.
        </p>
        <a href="https://coolors.co/4c6085-39a0ed-36f1cd-13c4a3-32322c"
          ><button class="intro-generate">Avvia il generatore!</button></a
        >
        <a href="https://coolors.co/palettes/trending"
          ><button class="intro-palette">Esplora palette di tendenza</button></a
        >
        <a
          href="https://www.producthunt.com/products/coolors?utm_source=badge-top-post-badge&utm_medium=badge&utm_souce=badge-coolers&launch=coolers"
          target="_blank"
          ><img
            class="intro-first-product"
            src="../../assets/img/coolors-best-product-icon.svg"
          />
        </a>
      </div>
      <div class="home-animated-screens"></div>
    </div>
  </body>
</html>
