<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Daltonismo</title>
    <link rel="stylesheet" href="../../assets/css/common.css" />
    <link rel="stylesheet" href="daltonismo.css" />
  </head>
  <body>
    <aside class="general-sidebar-daltonico">
      <div class="generator-sidebar-title">Daltonismo</div>
      <div class="generator-sidebar-body">
        <div class="list-selector">
          <ul>
            <li class="reference-link">
              <a href="#">Protanopia</a>
            </li>
            <li class="reference-link">
              <a href="#">Deuteranopia</a>
            </li>
            <li class="reference-link">
              <a href="#">Tritanopia</a>
            </li>
            <li class="reference-link">
              <a href="#">Acromatopsia</a>
            </li>
            <li class="reference-link">
              <a href="#">Protanomalia</a>
            </li>
            <li class="reference-link">
              <a href="#">Deuteranomalia</a>
            </li>
            <li class="reference-link">
              <a href="#">Tritanomalia</a>
            </li>
            <li class="reference-link">
              <a href="#">Acromatomalia</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="generator-sidebar-bottom">
        <button class="button-white">Annulla</button>
        <button class="button-blue">Applica</button>
      </div>
    </aside>
  </body>
</html>
