<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sponsor</title>
    <link rel="stylesheet" href="../../assets/css/common.css" />
    <link rel="stylesheet" href="sponsor.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <section class="sponsors-section">
      <div class="sponsors-intro">
        Usato da oltre 5 milioni di designer e dalle migliori aziende
      </div>

      <ul class="sponsors-icons">
        <li>
          <a href="https://www.disney.it/" target="_blank"
            ><img
              src="../../assets/img/disney-icon.svg"
              alt="disney's icon"
              width="75"
              height="75"
          /></a>
        </li>
        <li>
          <a href="https://www.dreamworks.com/" target="_blank"
            ><img
              src="../../assets/img/dreamworks-icon.svg"
              alt="dreamworks' icon"
              width="65"
              height="65.4"
          /></a>
        </li>
        <li>
          <a href="https://www.warnerbros.com/" target="_blank"
            ><img
              src="../../assets/img/warnerbros-icon.svg"
              alt="warnerbros' icon"
              width="47.6"
              height="59.7"
          /></a>
        </li>
        <li>
          <a href="https://www.netflix.com/it/" target="_blank"
            ><img
              src="../../assets/img/netflix-icon.svg"
              alt="netflix's icon"
              width="54.6"
              height="80"
          /></a>
        </li>
        <li>
          <a
            href="https://www.airbnb.it/?_set_bev_on_new_domain=1753545819_EAOTY1MDgzOGYzNm"
            target="_blank"
            ><img
              src="../../assets/img/airbnb-icon.svg"
              alt="airbnb's icon"
              width="55"
              height="59.2"
          /></a>
        </li>
        <li>
          <a href="https://www.dropbox.com/" target="_blank"
            ><img
              src="../../assets/img/dropbox-icon.svg"
              alt="dropbox's icon"
              width="65"
              height="74"
          /></a>
        </li>
        <li>
          <a href="https://products.hasbro.com/it-it" target="_blank"
            ><img
              src="../../assets/img/hasbro-icon.svg"
              alt="hasbro's icon"
              width="85"
              height="80"
          /></a>
        </li>
        <li>
          <a href="https://www.ubisoft.com/it-it" target="_blank"
            ><img
              src="../../assets/img/ubisoft-icon.svg"
              alt="ubisoft's icon"
              width="85"
              height="80"
          /></a>
        </li>
        <li>
          <a href="https://www.ea.com/it-it" target="_blank"
            ><img
              src="../../assets/img/ea-icon.svg"
              alt="ea's icon"
              width="114.6"
              height="80"
          /></a>
        </li>
        <li>
          <a href="https://www.apple.com/" target="_blank"
            ><img
              src="../../assets/img/apple-icon.svg"
              alt="apple's icon"
              width="70"
              height="70"
          /></a>
        </li>
        <li>
          <a href="https://www.microsoft.com/it-it/" target="_blank"
            ><img
              src="../../assets/img/windows-icon.svg"
              alt="windows' icon"
              width="85"
              height="80"
          /></a>
        </li>
      </ul>
    </section>
  </body>
</html>
